<h1>Explore our flats</h1>
<div>
  <%# @flats.each do | flat | %>
    <div>
      <div><%#= flat.name %></div>
      <div><%#= flat.description %></div>
      <div><%#= flat.price_per_night %></div>
      <div><%#= flat.number_of_guest %></div>
    </div>
  <%# end  %>
</div>
